{% extends "base.html" %}
{% block content %}
    <div class="item">
        <h1 class="name">{{item['name']}}</h1>
        <p class="abstract">{{item['abstract']}}</p>
        <p class="population">{{item['population']}}</p>
        <p class="area">{{item['area']}}</p>
 	<div id="map-canvas"></div>
    </div>
 <script>
        function initialize() {
            var myCenter = new google.maps.LatLng({{item['lat']}}, {{item['lon']}});
            var mapOptions = {
                zoom: 8,
                center:myCenter 
            };
            var map = new google.maps.Map(document.getElementById('map-canvas'),mapOptions);
            var marker=new google.maps.Marker({position:myCenter});
            marker.setMap(map);
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
{% endblock %}
