<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:og="http://ogp.me/ns#"
      xmlns:fb="https://www.facebook.com/2008/fbml">
    <head>

        <title>Sematch</title>
         <!-- Using the latest rendering mode for IE -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- CDN for bootstrap font_awesome -->
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="static/style.css" type="text/css"/>
        <link href="static/favicon.ico" rel="shortcut icon" type="image/x-icon">
        <!-- JavaScript plugins (requires jQuery) -->
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="static/FileSaver.js"></script>
        <script src="static/Blob.js"></script>
        <!-- use CDN for boostrap js -->
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
        <!-- Enable responsive features in IE8 with Respond.js (https://github.com/scottjehl/Respond) -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.js"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js"></script>
    </head>
    <body>


        <div class="container" style="width: inherit">
            <div class="row">
                <div class="col-md-12">
                    <a href="https://github.com/gsi-upm/sematch"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-xs-10">
                    <img src="static/logo.png" style="padding-right:30px;" class="img-responsive" alt="Responsive image">
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-4 col-md-6">
                    <ul class="nav nav-tabs" role="tablist" id="myTab" style="border:none;padding-left:30px">
                        <li role="presentation" class="active">
                            <a href="#entity" aria-controls="Entity" role="tab" data-toggle="tab">Entity</a>
                        </li>
                        <li role="presentation">
                            <a href="#type" aria-controls="type" role="tab" data-toggle="tab">Type</a>
                        </li>
                        <li role="presentation">
                            <a href="#question" aria-controls="question" role="tab" data-toggle="tab">Question</a>
                        </li>
                        <li role="presentation">
                            <a href="#similarity" aria-controls="similarity" role="tab" data-toggle="tab">Similarity</a>
                        </li>
                    </ul>
                </div>
            </div>
                 
            <div class="row" style="margin-bottom:100px">
                <div class="col-md-12">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="entity">
                            <div class="row" style="margin-top:30px">
                                <div class="col-md-6 col-md-offset-3 col-xs-8">
                                    <input data-bind="value: query, event: {keyup:entity_keypress}" type="text" class="form-control" placeholder="Example: university Spain, festivals Barcelona, airport Italy">
                                </div>
                                <div class="col-md-3 col-xs-3">
                                    <button data-bind="click: search" class="btn btn-default">search</button>
                                     <img src="static/loading.GIF" data-bind="visible: entity_search_loading_state" style="height:35px" alt="Responsive image">
                                </div>
                            </div>
                            <div class="row" style="margin-top:20px">
                                <div class="col-md-7 col-md-offset-3 col-xs-8">
                                    <p style="text-align:center" class="text-info"><span style="text-align:left;color: #757575;font-size: 15px;">Enter entity type and speicific entity:&nbsp;</span>university Madrid Barcelona; movie United States; airport Beijing; festivals in Spain; car Germany. Note:It does not support spell correction currently.</p>
                                </div>
                            </div>
                            <div class="row" style="margin-top:30px">
                                <div class="col-md-4">
                                    <div class="row" style="margin-top:10px">
                                         <span class="result-count"><b data-bind="text: search_results_len, visible:search_results().length > 0">&nbsp;</b></span>
                                    </div>
                                    <div class="row" style="margin-top:10px">
                                        <div class="col-md-12">
                                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                                <div data-bind="visible: types().length > 0" class="panel panel-default">
                                                    <div class="panel-heading" role="tab" id="headingOne">
                                                        <h4 class="panel-title">
                                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Type</a>
                                                        </h4>
                                                    </div>
                                                    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                                        <div class="panel-body">
                                                            <ul style="list-style:none;padding-left:0;" data-bind="foreach: types, visible: types().length > 0">
                                                                <li>
                                                                    <span data-bind="text: $data">&nbsp;</span>
                                                                </li> 
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div data-bind="visible: entities().length > 0" class="panel panel-default">
                                                    <div class="panel-heading" role="tab" id="headingTwo">
                                                        <h4 class="panel-title">
                                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">Entity</a>
                                                        </h4>
                                                    </div>
                                                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                                        <div class="panel-body">
                                                            <ul style="list-style:none;padding-left:0;" data-bind="foreach: entities, visible: entities().length > 0">
                                                                <li>
                                                                    <span data-bind="text: $data">&nbsp;</span>
                                                                </li> 
                                                            </ul>     
                                                        </div>
                                                    </div>
                                                </div>
                                                <div data-bind="visible: search_results().length > 0" class="panel panel-default">
                                                    <div class="panel-heading" role="tab" id="headingThree">
                                                        <h4 class="panel-title">
                                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">Property</a>
                                                        </h4>
                                                    </div>
                                                    <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                                                        <div class="panel-body">
                                                            <ul style="list-style:none;padding-left:0;" data-bind="foreach: search_results, visible: search_results().length > 0">
                                                                <li>
                                                                    <input type="checkbox" data-bind="checked: selected" />
                                                                    <span data-bind="text: relation()">&nbsp;</span>
                                                                </li> 
                                                            </ul>     
                                                        </div>
                                                    </div>
                                                </div>
                                                <div data-bind="visible: sparqls().length > 0" class="panel panel-default">
                                                    <div class="panel-heading" role="tab" id="headingFour">
                                                        <h4 class="panel-title">
                                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">SPARQL</a>
                                                        </h4>
                                                    </div>
                                                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                                        <div class="panel-body">
                                                            <ul style="list-style:none;padding-left:0;" data-bind="foreach: sparqls, visible: sparqls().length > 0">
                                                                <li>
                                                                    <span data-bind="text: $data">&nbsp;</span>
                                                                </li> 
                                                            </ul>  
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <ul  style="list-style:none" data-bind="foreach: search_results, visible: search_results().length > 0">
                                        <li>
                                            <!-- ko if: selected() === true -->
                                            <ul style="list-style:none" data-bind="foreach: entities">
                                                <li>
                                                    <a data-bind="attr: {href: uri, tilte:label}"><h3 data-bind="text: label()"></h3></a>
                                                    <p data-bind="text: comments()"></p>
                                                </li>
                                            </ul>
                                             <!-- /ko -->
                                        </li> 
                                    </ul>  
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="type">
                            <div class="row" style="margin-top:30px">
                                <div class="col-md-3 col-md-offset-3">
                                    <input data-bind="value: type_query"  class="form-control" type="text" placeholder="type">
                                </div>
                                <div class="col-md-2">
                                   <select  class="form-control" data-bind="value:type_sim">
                                        <option value="1">Wu-Palmer</option>
                                        <option value="2">Path</option>
                                        <option value="3">Leacock-Chodorow</option>
                                        <option value="4">Resnik</option>
                                        <option value="5">Jiang-Conrath</option>
                                        <option value="6">Lin</option>
                                    </select>
                                </div>
                                <div class="col-md-1">
                                    <input data-bind="value: type_th" class="form-control" type="text" placeholder="Th.eg.0.9">
                                </div>
                                <div class="col-md-2 col-xs-4">
                                    <button data-bind="click: type_search" class="btn btn-default">search</button>
                                </div>
                            </div>
                            <div class="row" style="margin-top:30px;margin-bottom:30px">
                                <div class="col-md-offset-1 col-md-10">
                                    <ul class="list-group" data-bind="foreach: type_results, visible: type_results().length > 0">
                                        <li class="list-group-item" style="color:#428bca">
                                           <!--  <span data-bind="text: synset()">&nbsp;</span>
                                            <span data-bind="text: sim()" style="font-weight:bold"></span>
                                            <span data-bind="text: definition()">&nbsp;</span>
                                            <ul data-bind="foreach: links">
                                                <li><span data-bind="text: $data"></span></li>
                                            </ul> -->
                                        </li> 
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="question">
                            <!-- <div class="row" style="margin-top:30px">
                                <div class="col-md-7 col-md-offset-2">
                                    <input data-bind="value: query" type="text" class="form-control" placeholder="Example: university Spain">
                                </div>
                                <div class="col-md-3">
                                    <button data-bind="click: search" class="btn btn-default">Ask</button>
                                </div>
                            </div> -->
                        </div>
                        <div role="tabpanel" class="tab-pane" id="similarity"></div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="container">
                <div class="col-md-6 col-md-offset-3">
                    <img src="http://gsi.dit.upm.es/templates/jgsi/images/logo.png" style="max-width:450px" class="img-responsive" alt="Responsive image">
                </div>
            </div>
        </footer>

        <script type="text/javascript">

            $(function () {
                $('#myTab a:first').tab('show')
            })

            function Relation(data){
                this.relation = ko.observable(data.relation);
                this.entities = ko.observableArray(data.entities);
                this.selected = ko.observable(true);
            }

            function Entity(data) {
                this.uri = ko.observable(data.uri);
                this.label = ko.observable(data.label);
                this.comments = ko.observable(data.comments);
            }

            function QueryViewModel() {

                var self = this;
                self.search_results = ko.observableArray([]);
                self.types = ko.observableArray([]);
                self.entities = ko.observableArray([]);
                self.sparqls = ko.observableArray([]);
                self.query = ko.observable();
                self.type_query = ko.observable();
                self.type_sim = ko.observable();
                self.type_th = ko.observable();
                self.type_results = ko.observableArray([]);
                self.entity_search_loading_state = ko.observable(false);
                //self.service = 'http://localhost:5005/api/'
                self.service = 'http://demos.gsi.dit.upm.es/sematch/api/'
                self.search_results_len = ko.computed(function(){
                    var total = 0;
                    ko.utils.arrayForEach(self.search_results(), function(relation){
                        if(relation.selected() == true) {
                            total += relation.entities().length;
                        }
                    });
                    if(total > 0){
                        self.entity_search_loading_state(false);
                    }
                    return total + ' entities are retrieved';
                });

                self.ajax = function(uri, method, data) {
                    var request = {
                        url: uri,
                        type: method,
                        contentType: "application/json",
                        accepts: "application/json",
                        cache: false,
                        dataType: 'json',
                        data: data,
                        error: function(jqXHR) {
                            console.log("ajax error " + jqXHR.status);
                        }
                    };
                    return $.ajax(request);
                }

                self.entity_keypress = function(data, event){
                    if(event.keyCode == 13){
                        //alert("Enter was pressed was presses"+self.query()+data.value);
                        self.search();
                    }
                    return true;
                }

                self.type_search = function(){
                    return true;
                }

                self.search = function() {
                    self.entity_search_loading_state(true);
                    var requestData = {
                        query:self.query()
                    };
                    if(self.query()){

                        self.ajax(self.service + 'search','GET',requestData).success(function(data){
                            if($.isEmptyObject(data)){
                                self.entity_search_loading_state(false);
                                alert("Sorry, there is no such data in Knowledge Graph, you can check the query in the left!");
                                return;
                            }
                            var results = $.map(data, function(result) { 
                                var entities = $.map(result['entities'], function(entity){
                                    return new Entity({uri:entity['uri'], label:entity['label'], 
                                        comments:entity['comments']})
                                });
                                return new Relation({relation:result['relation'],entities:entities})
                            });
                            self.search_results(results);
                        });

                        self.ajax(self.service + 'entities','GET',requestData).success(function(data){
                            self.entities(data);
                        });
                        self.ajax(self.service + 'types','GET',requestData).success(function(data){
                             self.types(data);
                        });
                        self.ajax(self.service + 'queries','GET',requestData).success(function(data){
                            self.sparqls(data);
                        });

                    }else{
                        self.entity_search_loading_state(false);
                        alert("Please input a query!");
                    }
                }

            };

            ko.applyBindings(new QueryViewModel());
        </script>
    </body>
</html>
