<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:og="http://ogp.me/ns#"
      xmlns:fb="https://www.facebook.com/2008/fbml">
    <head>

        <title>Sematch</title>
         <!-- Using the latest rendering mode for IE -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- CDN for bootstrap font_awesome -->
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/style.css" type="text/css"/>
        <link href="/static/favicon.ico" rel="shortcut icon" type="image/x-icon">
        <!-- JavaScript plugins (requires jQuery) -->
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="/static/FileSaver.js"></script>
        <script src="/static/Blob.js"></script>
        <!-- use CDN for boostrap js -->
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
        <!-- Enable responsive features in IE8 with Respond.js (https://github.com/scottjehl/Respond) -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.js"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js"></script>
    </head>
    <body>



        <div class="container">
            <div class="row" style="margin-top:30px">
                <div class="col-md-6 col-md-offset-2">
                    <img src="/static/logo.png" style="max-width:700px" class="img-responsive" alt="Responsive image">
                </div>
            </div>
            <div class="row" style="margin-top:30px">
                <div class="col-md-7 col-md-offset-2"><input data-bind="value: query" type="text" class="form-control" placeholder="Example: university Spain"></div>
                <div class="col-md-3"><button data-bind="click: search" class="btn btn-default">search</button></div>
            </div>
            <div class="row" style="margin-top:30px">
                <div class="col-md-8 col-md-offset-2">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Query Interpretation</a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <ul data-bind="foreach: types, visible: types().length > 0">
                                        <li>
                                            <span data-bind="text: $data">&nbsp;</span>
                                        </li> 
                                    </ul>
                                    <ul data-bind="foreach: entities, visible: entities().length > 0">
                                        <li>
                                            <span data-bind="text: $data">&nbsp;</span>
                                        </li> 
                                    </ul>    
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">SPARQL Query List</a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body">
                                <ul data-bind="foreach: sparqls, visible: sparqls().length > 0">
                                    <li>
                                        <span data-bind="text: $data">&nbsp;</span>
                                    </li> 
                                </ul>  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row" style="margin-top:30px">
                <div class="col-md-offset-2 col-md-8">
                    <ul data-bind="foreach: results, visible: results().length > 0">
                        <li>
                            <span data-bind="text: $data">&nbsp;</span>
                        </li> 
                    </ul>  
                </div>
            </div>
        </div>

        <script type="text/javascript">

            function QueryViewModel() {
                var self = this;
                self.results = ko.observableArray([]);
                self.types = ko.observableArray([]);
                self.entities = ko.observableArray([]);
                self.sparqls = ko.observableArray([]);
                self.query = ko.observable();

                self.ajax = function(uri, method, data) {
                    var request = {
                        url: uri,
                        type: method,
                        contentType: "application/json",
                        accepts: "application/json",
                        cache: false,
                        dataType: 'json',
                        data: data,
                        error: function(jqXHR) {
                            console.log("ajax error " + jqXHR.status);
                        }
                    };
                    return $.ajax(request);
                }

                self.search = function() {
                    var requestData = {
                        query:self.query()
                    };
                    self.ajax('http://localhost:5000/sematch/api/search','GET',requestData).success(function(data){
                        self.results(data);
                    });
                    self.ajax('http://localhost:5000/sematch/api/entities','GET',requestData).success(function(data){
                        self.entities(data);
                    });
                    self.ajax('http://localhost:5000/sematch/api/types','GET',requestData).success(function(data){
                        self.types(data);
                    });
                    self.ajax('http://localhost:5000/sematch/api/queries','GET',requestData).success(function(data){
                        self.sparqls(data);
                    });
                }

            }
            ko.applyBindings(new QueryViewModel());
        </script>
    </body>
</html>
