
 
#search_button {
	border: 0;
	border-radius: 1px;
	/* background: #1ba1e2 url('search.png') no-repeat center; */
	background: #666 url('search.png') no-repeat center;
	outline: none;
}
 
.data{
	font-size:11px;
	font-weight:500;
	color:#1e347b;
	
}

.result_box {
	padding:2px;
	margin:2px;
	border-style:solid;
	border-color:#dceaf4;
	border-width:1px;
	background-color:#dceaf4;
}